<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard</title>
</head>
<body>
    <button
        id = "homeBtn"
        onclick = "window.location.href='{% url 'menu:index' %}'">
        Home
    </button>
    <h1>Choose Your Flashcard Deck</h1>
    <ul>

        {% if flashcarddeck %}
        <ul>
            {% for deck in flashcarddeck %}
                <button 
                    id="{{ deck.name }}"
                    type="button"
                    onclick="window.location.href='{% url 'flashcard:flashcardplay' deck.id %}'">
                    {{ deck.name }}
                </button>
            {% endfor %}
        </ul>
        {% else %}
            <p>You don't have any flashcards.</p>
        {% endif %}
    </ul>
</body>
</html>
