<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard</title>
</head>
<body>
    <h1>Choose Your Flashcard Deck</h1>
    <ul>
        {% for deck in flashcarddeck %}
            <!-- Use anchor tag or use button and set window.location.href correctly -->
            <button 
                id="deck_{{ deck.id }}"
                type="button"
                onclick="window.location.href='{% url 'flashcard:flashcardplay' deck.id %}'">
                {{ deck.name }}
            </button>
        {% endfor %}
    </ul>
</body>
</html>
