<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    
    <script>
        async function checkUser() {
            try {
                const response = await fetch("/user/info/");
                
                if (!response.ok) {
                    throw new Error("Failed to fetch user info");
                }

                const result = await response.json();
                document.getElementById("user-label").textContent = "Logged in as: " + result.username;
                document.getElementById("logout-btn").style.display = "block";
                document.getElementById("login-btn").style.display = "none"

            } catch (error) {
                console.error("Error fetching user info:", error);
                document.getElementById("user-label").textContent = "Not logged in";
                document.getElementById("logout-btn").style.display = "none";
                document.getElementById("login-btn").style.display = "block"
            }
        }

        async function logoutUser() {
            const response = await fetch("/user/logout/", { method: "POST" }); // Ensure it's a POST request
            if (response.redirected) {
                window.location.href = response.url;  // Follow the redirect
            } else {
                window.location.reload();  // Fallback to reloading the page
            }   
        }


        window.onload = checkUser;
    </script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">
</head>
<body>
    <header>
        <div style="position: absolute; top: 10px; left: 10px;">
            <span id="user-label">Not logged in</span>
            <button id="logout-btn" onclick="logoutUser()" style="display: none;">Logout</button>
            <a href="{% url 'user:login' %}" class="login-container"><div id="login-btn" class="login-btn">Login</div></a>
        </div>
        <a href="{% url 'menu:add_word' %}" class="add-word-container">
            <button class="add-word">ADD WORD</button>
        </a>
        <h1>Word Wise</h1>
    </header>
        <div class="menucontainer">
            <a href="{% url 'flashcard:index' %}" class="game-icon-img">
            <img src="{% static 'menu/images/flashcard.png' %}" alt="Flashcard">
            <div class="overlay">flashcard</div>
            </a>
            <a href="{% url 'hangman:hangman_game' %}" class="game-icon-img">
            <img src="{% static 'menu/images/Hang_man.png' %}" alt="Hangman">
            <div class="overlay">hangman</div>
            </a>
            <a href="{% url 'ordergame:game' %}" class="game-icon-img">
            <img src="{% static 'menu/images/order.png' %}" alt="Ordergame">
            <div class="overlay">ordergame</div>
            </a>
        </div>
    <main>
        
    </main>
</body>
</html>
