<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Order Game</title>
    <script>
        const sent_data = "{{ the_sentence|escapejs }}";
    </script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ordergame/gamestyle.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
    <script src="{% static 'ordergame/script.js' %}" defer></script>
</head>
<body>
    <div class="header">
        <p class="game-title">Order Word</p>
    </div>
    <div class="container">
        <!-- Popup Modal -->
        <div id="popup" class="popup">
            <div class="popup-content">
                <p id="popup-message"></p>
                <div class="popup-buttons">
                    <button id="popup-close">OK</button>
                    <form action="{% url 'menu:index' %}" method="get">
                        <button class="popup-home" id="popup-home">HOME</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of Modal -->
        <div class="blank-blocks" id="blank-blocks">
            <!-- Blank blocks will be generated dynamically -->
        </div>
        <div class="word-line" id="word-line">
            <!-- Word Block Create by the script.js -->
        </div>
        <div class="button-container">
            <button id="check-btn">OK</button>
        </div>
    </div>
</body>
</html>