<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <script src="{% static 'user/register.js' %}" defer></script>
</head>
<body>

    <h2>Register</h2>
    <form onsubmit="registerUser(event)">
        {% csrf_token %}
        <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit" id="submit-btn">Register</button>
    </form>
    <p><p  id="password-char-text"></p>Password should have at least 8 character</p>
    <p><p  id="password-upc-char"></p>Password should contain UPPERCASE letter</p>
    <p><p id="password-sp-char"></p>Password should contain number(s) and special character(s)</p>
</body>
</html>
